<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%# <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Update your profile</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with model: @user, url: account_path, method: :put, class: "space-y-6" do |form| %>
      <%= render partial: "shared/form_errors", locals: { object: form.object } %>
      <div>
        <%= form.label :email, "Current Email", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.email_field :email, class: "block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", disabled: true %>
        </div>
      </div>
      
      <div>
        <%= form.label :unconfirmed_email, "New Email", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.email_field :unconfirmed_email, class: "block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.label :password, "Password (leave blank if you don't want to change it)", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.password_field :password, class: "block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", autocomplete: "new-password" %>
        </div>
      </div>
      
      <div>
        <%= form.label :password_confirmation, "Confirm Password", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.password_field :password_confirmation, class: "block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", autocomplete: "new-password" %>
        </div>
      </div>
      
      <div>
        <%= form.label :current_password, "Current password (we need your current password to confirm your changes)", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.password_field :current_password, class: "block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", autocomplete: "current-password", required: true %>
        </div>
      </div>

      <div>
        <%= form.submit "Update Account", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>

  <div class="px-4 sm:px-6 lg:px-8 mx-auto mt-20">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Sessions</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all your sessions in your account.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= button_to "Log out of all sessions", destroy_all_active_sessions_path, method: :delete, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">User Agent</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">IP Address</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Signed In At</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Sign Out</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <%= render @active_sessions %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
